<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./logs</Property>
		<Property name="serviceName">ms-kla-bill-service</Property>
		<Property name="PID">????</Property>
		<Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
		<Property name="LOG_LEVEL_PATTERN">%5p</Property>
		<Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
<!--		<Property name="CONSOLE_LOG_PATTERN">%clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${LOG_LEVEL_PATTERN}} %clr{${sys:PID}}{magenta} %clr{-&#45;&#45;}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>-->
		<Property name="CONSOLE_LOG_PATTERN"> %clr{${LOG_LEVEL_PATTERN}} %clr{---}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
		<Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} ${sys:PID} --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" />
		</Console>
		<File name="File" fileName="${basePath}/${serviceName}-log.log">
			<PatternLayout pattern="${FILE_LOG_PATTERN}" />
		</File>
		<RollingFile name="rollFile"
					 fileName="${basePath}/roll/${serviceName}-log.log"
					 filePattern="${basePath}/roll/${serviceName}-log-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="${FILE_LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
										   modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- Log everything in Spring Boot -->
		<Logger name="org.springframework.boot" level="info"
				additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="rollFile" />
		</Logger>

		<!-- Log everything in Spring Core -->
		<Logger name="org.springframework.core" level="info"
				additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="rollFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="rollFile" />
		</Root>
		<Logger name="com.gnana.rebugs" level="debug"
				additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="rollFile" />
		</Logger>

	</Loggers>
</Configuration>